<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.kumoh.indieplatform.indie.navi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:hardwareAccelerated="true">
        <activity
            android:name="kr.hs.kumoh.indieplatform.indie.navi.view.activity.IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.hs.kumoh.indieplatform.indie.navi.view.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="kr.hs.kumoh.indieplatform.indie.navi.view.activity.MainActivity"
            android:label="Indie navi" 
        >
            
        </activity>
        <activity
            android:name="kr.hs.kumoh.indieplatform.indie.navi.view.activity.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name="kr.hs.kumoh.indieplatform.indie.navi.view.activity.ArtistDetailActivity"
            android:label="@string/title_activity_artist_detail" >
        </activity>
        <activity
            android:name="kr.hs.kumoh.indieplatform.indie.navi.view.activity.ConcertDetailActivity"
            android:label="@string/title_activity_concert_detail" >
        </activity>
    </application>

</manifest>
